<div class="container row bg-ligth">
  <div class="col-md-5">
    <div class="card" style="width: 100%">
      <img [src]="product?.thumbnail" [alt]="product?.titulo" />
      <div class="card-body">
        <p class="card-text">
          <strong>Titulo: </strong> {{ product?.display_name }}
        </p>
        <p class="card-text">
          <strong>Precio: </strong>
          {{ product?.price_instructions.unit_price | currency: "EUR" }}
        </p>
        <p class="card-text">
          <strong>Peso: </strong> {{ product?.price_instructions.unit_size }}
          {{ product?.price_instructions.size_format }}
        </p>
      </div>
    </div>
  </div>
  <div class="col-md-7">
    <p>Editar Producto:</p>
    <form class="bg-light rounded">
      <div class="form-group my-1 p-3">
        <label class="my-2">Modificar título:</label>
        <input class="form-control" type="text" placeholder="Chocolate..." />
        <label class="my-2">Modificar precio(€):</label>
        <input
          class="form-control"
          type="number"
          [placeholder]="product?.price_instructions.unit_price"
        />
        <label class="my-2">Modificar peso:</label>
        <input
          class="form-control"
          type="number"
          [placeholder]="product?.price_instructions.unit_size"
        />
        <select class="form-select my-4" aria-label="KG">
          <option selected>Modificar formato:</option>
          <option value="1">Kg</option>
          <option value="2">g</option>
        </select>
        <label class="my-2">Nueva miniatura:</label>
        <br />
        <input type="file" class="form-control-file" id="thumbnailImg" />
      </div>
      <button (click)="editProduct()" class="btn btn-success my-4 form-control">
        Editar Producto
      </button>
    </form>
  </div>
</div>
