<div *ngIf="product != null" class="card">
  <div class="card-header">Detalles de producto:</div>
  <div class="card-body">
    <div class="row">
      <div class="col-md-6 col-xs-12">
        <img
          class="img-product"
          [src]="product.thumbnail"
          [alt]="product.slug"
        />
      </div>
      <div class="col-md-6 col-xs-12">
        <p class="card-text">
          <strong>Titulo: </strong> {{ product.display_name }}
        </p>
        <p class="card-text">
          <strong>Precio: </strong>
          {{ product.price_instructions.unit_price | currency: "EUR" }}
        </p>
        <p class="card-text">
          <strong>Peso: </strong> {{ product.price_instructions.unit_size }}
          {{ product.price_instructions.size_format }}
        </p>
      </div>
    </div>
  </div>
  <div class="card-footer text-muted">
    <button class="btn btn-warning text-white m-1">
      <a class="text-white" [routerLink]="['/editar', product.id]">Editar</a>
    </button>
  </div>
</div>
